<div class="manage-container">
  <div class="manage-sidebar overlay-effect overlay">
    <h2 class="spaced-down">Roteiros </h2>
    <nav class="scroll">
      <ul class="flex-scroll">
        <% @guidebook.orders.each do |o| %>
        <li class="flex-nav-item">
          <div class="manage-card">
            <div class="manage-card-val">
              Valor: <%= raw o.price %> <br />
            </div>
            <div class="manage-card-val">
              Status: <%= o.status %>
            </div>
             <div class="manage-card-val">
              Método de pagamento: <%= o.payment_method %>
            </div>
             <div class="manage-card-val">
              Destino: <%= o.destination %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>