<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <% if @guidebooks.any? %>
          <h3 class="light-heading" style="padding: 4px; margin-top: 30px;">Roteiros personalizados</h3>
          <% @guidebooks.publisheds.each do |g| %>
              <%= render partial: 'layouts/guidebook_list', locals: { t: g } %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
