<footer class="site-footer">
    {% if site.github.is_project_page %}
    <span class="site-footer-owner"><a href="http://www.truppie.com">{{ site.github.repository_name }}</a> é mantida por <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
    {% endif %}
    <span class="site-footer-credits">A <a href="https://pages.github.com">Truppie</a> é plataforma que vende reservas para diversas atividades outdoor</span>
    <p>CNPJ 28.608.433/0001-43</p>

    <p>Alameda dos Colibris, 500 <br />
        22640-338 <br />
        BARRA DA TIJUCA <br />
        RIO DE JANEIRO - RJ <br />
    </p>
    <p>
        This is part of <a href="http://www.worknenjoy.com" target="_blank">Work 'n Enjoy</a>
    </p>

    <p>Copyright © Truppie 2016. All rights reserved.</p>
</footer>
</section>

{% if site.google_analytics %}
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
<script src="https://arcchat.com/livechat/59e0e0dbed743ddd026bea23/59e0e0dbed743ddd026bea24" async></script>