<div style="width: 100%">
    <div style="float: right">
        <ul class="snip1226">
          <li class="current"><a href="#" data-hover="Home">Home</a></li>
          <li><a href="#" data-hover="About Us">About Us</a></li>
          <li><a href="#" data-hover="Blog">Blog</a></li>
          <li><a href="#" data-hover="Services">Services</a></li>
          <li><a href="#" data-hover="Products">Products</a></li>
          <li><a href="#" data-hover="Contact">Contact</a></li>
        </ul>
    </div>
</div>