<div
id="dateField"
data-days = "Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday"
data-months = "January,February,March,April,May,June,Juli,August,September,October,November,December"
data-monthsNum = "12"
readonly="true"
>
  <div class="fromTo" id="fromToPicker">
    <div class="dateBox" id="dateFromPicker">
      <i class="r_head">Departure</i>
      <i class="r_date">Select a date</i>
    </div>
    <div class="dateBox days off" id="daysNumPicker">
      <i class="r_head">Days</i>
      <i class="r_days"><span class="r_dots">&middot;&middot;&middot;&middot;</span><em>0</em><span class="r_dots">&middot;&middot;&middot;&middot;</span></i>
    </div>
    <div class="dateBox off" id="dateToPicker">
      <i class="r_head">Return</i>
      <i class="r_date">Select a date</i>
    </div>
  </div>
</div>

<div id="cal">

  <div class="fromTo" id="fromTo">
    <div class="dateBox" id="dateFrom">
      <i class="r_head">Departure</i>
      <i class="r_date">Select a date</i>
    </div>
    <div class="dateBox days off" id="daysNum">
    <i class="r_head">Days</i>
    <i class="r_days"><span class="r_dots">&middot;&middot;&middot;&middot;</span><em>0</em><span class="r_dots">&middot;&middot;&middot;&middot;</span></i>
    </div>
    <div class="dateBox off" id="dateTo">
      <i class="r_head">Return</i>
      <i class="r_date">Select a date</i>
    </div>
  </div>

  <i class="clear" style="clear:both;"></i>

  <!-- the calendars -->
  <div id="r_cals">
    <div id="r_nav">
      <i class="nav next" id="next">&rsaquo;</i>
      <i class="nav prev off" id="prev">&lsaquo;</i>
    </div>
    <div id="dp"></div>
  </div>


  <div id="dactions">
    <button class="btn btn-outline btn-cancel">Cancel</button><button class="btn btn-success">Apply</button>
  </div>

</div>