<ul class="list-group">
  <li class="list-group-item">
    <a href="<%= guided_tour_organizer_path(@organizer) %>">
      <span class="label label-default label-pill pull-xs-right"><%= @organizer.tours.count %></span>
      <%= t('organizer-tours-label') %>
    </a>
  </li>
</ul>