<div class='popover' role='tooltip'>
  <div class='popover-arrow'></div>
  <h3 class='popover-title'></h3>
  <button class='closepopover btn btn-danger btn-sm pull-right' data-trigger-elem-id='<%= trigger_elem_id %>'>
    <i class='fa fa-close'></i>
  </button>
  <div class='popover-content'>
</div>
