<%= render 'layouts/navbar' %>
  <div class="container manage-entries">
    <div class="row">
      <div class="col-xs-12">
        <div class="manage-inspiration">
          <%= render 'layouts/organizer_intro_block', locals: {organizer: @organizer} %>
        </div>
        <!--
        <div class="manage-container">
          <div class="manage-sidebar">
              <p>sidebar</p>
          </div>
          <div class="manage-main">
              <p>sidebar</p>
          </div>
        </div>
        -->
      </div>
    </div>
  <div id="fullscreen_bg" class="fullscreen_bg"></div>
</div>