<%= render 'layouts/navbar' %>
<div class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
        	<!-- Nav tabs -->
            <div class="card card-block">
                <%= render 'layouts/organizer_dashboard_navbar' %>
                <div class="card-body" style="overflow:hidden;">
                    <h3 class="text-center spaced-down">
                        Adicionar guia ou <small><%= link_to 'ver todos os guias', organizers_path %></small>
                    </h3>
                	<%= render 'form' %>
				  </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div id="fullscreen_bg" class="fullscreen_bg"/>
</div>
