<%= render 'layouts/navbar' %>
  <div class="container manage-entries">
    <div class="row">
      <div class="col-xs-12">
        <div class="manage-inspiration">
          
        </div>
        <div class="manage-container">
          <div class="manage-sidebar">
            <h2 class="spaced-down">Truppies</h2>
        
            <div class="manage-card manage-selected">
              <div class="manage-card-visa">
                <img src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/3/39/39863/icon_preview_001-o.png" />
              </div>
              <div class="manage-card-number">**** **** **** 2562</div>
              <div class="manage-card-val">Valid Thru: 12/17</div>
            </div>
        
            <div class="manage-card">
              <div class="manage-card-amex">
                <img src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/3/39/39863/icon_preview_001-o.png" />
              </div>
              <div class="mange-card-number">**** ****** 21001</div>
              <div class="manage-card-val">Valid Thru: 07/19</div>
            </div>
          </div>
        
          <div class="manage-main">
            <%= render partial: 'layouts/balance' %>
            <h2>Current Balance: <b>$ 4,729.<small>00</small></b></h2>
            <div class="manage-item">
              <div class="manage-item-sign">-</div>
              <div class="manage-item-name">Apple iPhone 6, 64 GB</div>
              <div class="manage-item-description">Electronics #343223 - 12 July,2015</div>
              <div class="manage-item-price">$ 650.<small>00</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div id="fullscreen_bg" class="fullscreen_bg"/>   
</div>