<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="spaced-smallest">
			  FAQ
			  <small class="text-muted">Tire suas dúvidas</small>
			</h3>
			<div class="list-group">
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>A Truppie é uma agência de viagens?</strong></h5>
			    <p class="list-group-item-text">Não. Somos uma plataforma que conecta guias (autônomos ou de agências de viagem locais) a pessoas que buscam viagens e outros tipos de experiências.</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>Por que Truppie?</strong></h5>
			    <p class="list-group-item-text">
			    	Trip + Hippie + Trupe = Truppie <br /> Um novo conceito de estilo e filosofia de vida.
			    </p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>O que é uma truppie?</strong></h5>
			    <p class="list-group-item-text">
			    	Qualquer tipo de aventura/evento/passeio, seja uma trilha para uma cachoeira, um passeio no centro histórico de uma cidade, um roteiro gastronômico ou um acampamento de vários dias no meio do mato. É uma experiência única e engrandecedora na sua vida.
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>A Truppie faz truppies também?</strong></h5>
			    <p class="list-group-item-text">
			    	Ainda não. Quem sabe um dia? Por ora, ela é meramente a plataforma que dá todo o suporte necessário para a realização de truppies organizadas por guias externos.
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>Qual a relação da Truppie com os guias?</strong></h5>
			    <p class="list-group-item-text">
			    	A Truppie é a plataforma que guias externos utilizam para criar suas próprias truppies. Os guias são os responsáveis pelas informações fornecidas, confirmações de reserva, pagamento, aviso do número de vaga, cancelamento, etc - tudo feito por meio do site da Truppie. A responsabilidade última pelo evento é do guia organizador.
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>Em quais locais a Truppie está presente?</strong></h5>
			    <p class="list-group-item-text">
			    	Por enquanto, no Rio de Janeiro. Mas com planos para expandir em breve para São Paulo e outros lugares do Brasil.
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>Como eu faço a reserva/pagamento de uma truppie que eu escolhi?</strong></h5>
			    <p class="list-group-item-text">
			    	Na Truppie, você realiza o pagamento diretamente pelo site, via cartão de crédito, débito ou boleto bancário. Uma vez confirmado o pagamento, a sua vaga já está automaticamente reservada.
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>E se eu não puder/quiser mais ir?</strong></h5>
			    <p class="list-group-item-text">
			    	Basta enviar um e-mail para a Truppie nos avisando: vouteajudar@truppie.com. Se a notificação ocorrer com pelo menos 48 horas de antecedência, o explorador é reembolsado em 100%. Das 48 horas anteriores até o momento do evento, o valor pago não será reembolsado, mas o explorador o terá como crédito junto ao guia, para ser utilizado em uma truppie futura, de sua escolha.
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>A quem devo recorrer se tiver dúvidas sobre uma truppie específica?</strong></h5>
			    <p class="list-group-item-text">
			    	O guia organizador é a pessoa que mais sabe sobre sua própria truppie, então recomendamos entrar em contato com eles pelo e-mail ou telefone fornecidos na página do evento em questão. Porém, havendo algum problema, a Truppie está disponível para ajudá-lo também. 
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>Eu posso me cadastrar como guia na Truppie?</strong></h5>
			    <p class="list-group-item-text">
			    	Você já exerce a atividade que gostaria de oferecer como truppie - seja profissionalmente ou por hobby, seja no seu dia-a-dia ou de maneira esporádica? Você se sente confiante de conduzir um grupo como líder? Você dá conta da administração do  evento, dando atenção às dúvidas e necessidades dos seus exploradores? E, mais importante: você se identifica com os princípios e valores da Truppie? Se respondeu sim a todas estas perguntas, então sim, você pode se cadastrar como guia na Truppie. 
		    	</p>
			  </div>
			  <div class="list-group-item">
			    <h5 class="list-group-item-heading"><strong>Eu posso reservar duas truppies no mesmo dia?</strong></h5>
			    <p class="list-group-item-text">
			    	Não. Uma vez que você se compromete com um guia, ele está contando com a sua presença para o seu evento. Você não consegue estar em dois lugares ao mesmo tempo, certo?
		    	</p>
			  </div>
			</div>	
		</div>
	</div>
</div>
