<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="spaced-smallest">
			  Como funciona
			</h3>
			<p>Seja muito bem vindo à família Truppie!
Entenda melhor o que é a Truppie e como ela funciona.</p>
			<h4>O que é</h4>
			<p>A Truppie é uma plataforma que conecta pessoas às mais diversas aventuras.</p>
			<h4>O que fazemos</h4>
			<p>A Truppie veio para te tirar da vida normal: escola, trabalho, contas, consumismo, sedentarismo, tédio, mesmice, falta de propósito. Nada de bolha por aqui! A Truppie está aqui para te apresentar novas possibilidades de aproveitar seu tempo, alimentar o espírito e desenvolver-se como pessoa. Como? Se divertindo, se descobrindo, explorando novos lugares, fazendo novas amizades, vivendo novas experiências!</p>
			<p>Queremos mostrar que a vida pode ser muito mais interessante quando priorizamos aquilo que realmente faz a difrença, que nos enriquece - no caso, a alma. Aí está a chave para a verdadeira felicidade - desapegar-se de bens materiais e estar presente e ver beleza em cada momento.</p>
			<p>Resumindo: a Truppie faz… truppies! Passeios, trilhas, tours, saídas, viagens… para nós, todos estes tipos de aventuras são chamados de truppie. E aí, qual é a sua truppie?</p>
			<h4>Você sabia que...</h4>
			<p class="spaced-smallest">...nosso cérebro é capaz de formar novas sinapses (ligações entre as células) quando estimulados por novos fatores? Isso se chama neuroplasticidade. Isso quer dizer que quando exploramos e vivemos situações novas, estamos aprendendo e o nosso cérebro, se desenvolvendo. E isso é um dos grandes contribuintes para a criatividade. Então, viver novas aventuras não é apenas algo distrativo e  prazeroso, mas é saudável e produtivo!</p>
			<h4>Quem faz</h4>
			<p>A Truppie é feita por gente como a gente. São pessoas apaixonadas pelo que fazem de um lado, e pessoas apaixonadas pela vida de outro. É muita energia boa envolvida!</p>
			
			<h4 class="spaced-default">Tá, mas quem faz o quê?</h4>
			
			<h5>O guia</h5>
			<p>O guia pode ser um profissional autônomo ou vinculado a um agência de turismo local especializada. Ele se cadastra na plataforma Truppie, e então passa a ter um perfil próprio e pode criar quantas truppies ele quiser. O cadastro de guias passa por uma verificação, de modo que asseguremos a qualidade dos provedores de serviços. Sempre que possível, a Truppie testará pessoalmente os passeios oferecidos.</p>
			<h5>O explorador</h5>
			<p>O explorador pode ser eu, você, qualquer pessoa em busca de uma nova aventura. Ele se cadastra e também tem um perfil próprio, com informações sobre suas preferências. O explorador encontra sua truppie, confirma presença e faz o pagamento pelo próprio site.</p>
			<h5>A Truppie</h5>
			<p>A Truppie é a plataforma que conecta o explorador em busca de sua aventura ao guia que a oferece. O guia cria seus próprios eventos (as truppies) por meio do site, que dá ao explorador todo o suporte, informação e orientação de que precisar para realizar a reserva do seu passeio. E se ele quer dicas e sugestões de acordo com o seu perfil? Nós damos também.</p>
			<h5>Como fazemos</h5>
			<p>Sem burocracia, sem enrolação, com transparência, de coração.</p>
			<p>As truppies são oferecidas pelos guias cadastrados em nossa plataforma; eles disponibilizam todas as informações necessárias para que o explorador possa reservar o roteiro diretamente pelo site: data, local, duração, valor, pré-requisitos, dificuldade física, equipamentos necessários, número de vagas, dentre outros.</p>
			<p>Havendo dúvidas específicas àquele evento, o explorador pode entrar em contato com o guia. Se a dúvida for mais geral, como sobre várias truppies ou guias, a Truppie está sempre à disposição para atendê-lo.</p>
			<p>Uma vez escolhida a sua truppie, o explorador realiza o pagamento facilmente pelo site - via cartão de crédito ou boleto bancário, e pronto, sua truppie está reservada.</p>
			<h5>Desistência</h5>
			<p>Em caso de desistência, o explorador recebe 100% do valor pago se notificar a Truppie com até 48 horas de antecdência. Das 48 horas anteriores até o momento do evento, o valor pago não será reembolsado, mas o explorador o terá como crédito junto ao guia, para ser utilizado em uma truppie futura, de sua escolha.</p>
			<h5>Política de cancelamento</h5>
			<p>Em caso de cancelamento do evento por parte do guia, os exploradores têm a opção de receber 100% do valor de volta ou deixar o crédito junto ao guia, para ser utilizado em uma truppie futura, de sua escolha.</p>
			<h5>Responsabilidade</h5>
			<p>A Truppie dá espaço aos guias criarem e administrarem seus próprios eventos; são eles eles os responsáveis pelas confirmações de reserva, pagamento, informação do número de vagas e cancelamento. Ainda que a responsabilidade última pelo evento seja do guia organizador, a Truppie ajudará no que for possível a fim de proporcionar a melhor experiência ao explorador.</p>
			<p>Resumindo: seja você guia ou explorador, a Truppie quer facilitar as coisas pra você, para que mais e mais pessoas possam ter as melhores experiências da suas vidas! :)</p>
		</div>
	</div>
</div>
