<%= render 'layouts/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="spaced-default">
			  Manifesto
			</h3>
			<p>Nós não queremos uma vida normal.</p>
			<p>Nós não queremos viver no piloto automático.</p>
			<p>Nós não queremos viver na bolha.</p>
			<p>Nós não queremos acumular coisas materiais.</p>
			<p>Nós queremos viver coisas boas.</p>
			<p>Nós queremos experiências humanas.</p>
			<p>Nós queremos contato com a natureza.</p>
			<p>Nós queremos ver, ouvir, sentir, experimentar.</p>
			<p>Nós queremos nos conhecer e conhecer o mundo.</p>
			<p>Nós queremos expandir nossos horizontes.</p>
			<p>Nós queremos sair da zona de conforto.</p>
			<p>Nós queremos ser mais criativos.</p>
			<p>Nós queremos um sentido para o que fazemos.</p>
			<p>Nós queremos nos conectar à nossa trupe.</p>
			<p>Nós queremos valorizar bons momentos.</p>
			<p>Nós queremos viver o presente.</p>
			<p>Nós queremos expandir nossa consciência.</p>	
		</div>
	</div>
</div>
