<% if tour.confirmeds.any? %>
<div class="confirmeds-pane">
	<h2><span>Confirmados</span></h2>
	<% tour.confirmeds.each do |t| %>
		<% if t.user.image %>
		<button type="button" class="activate-tooltip btn-link" data-toggle="tooltip" data-placement="top" title="<%= t.user.name %>">
			<img width="50" src="<%= t.user.image %>?type=normal" class="avatar img-circle img-thumbnail" alt="avatar">
		</button>
		<% else %>
			<img width="50" src="https://avatars.io/instagram/username" class="avatar img-circle img-thumbnail" alt="avatar">
		<% end %>
	<% end %>
</div>
<% end %>
