<%= render 'layouts/navbar' %>
<form class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card card-block">
                <div class="card-body">
                    <h3 class="text-center">
                        Adicionar truppie</h3>
                	<%= form_for @tour, url: tours_path, class: "form form-signup", role: "form" do |f| %>
	                    <div class="form-group">
	                        <div class="input-group">
	                            <span class="input-group-addon"><span class="fa fa-newspaper-o"></span>
	                            </span>
	                            <%= f.text_field :title, placeholder: "Título da truppie", class: "form-control" %>
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                
	                        <div class="input-group">
	                            <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
	                            <input type="Text" class="form-control" placeholder="Destination" />
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="input-group">
	                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
	                            <input type="Text" class="form-control" placeholder="numberOfSeats" />
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                        <div class="input-group">
	                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
	                            <input type="Text" class="form-control" placeholder="Starting Time" />
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                        <div class="input-group">
	                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	                            <input type="date" class="form-control" placeholder="Date" />
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                        <div class="input-group">
	                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
	                            <input type="password" class="form-control" placeholder="Prce" />
	                        </div>
	                    </div>
	                    <div class="form-group">
		               		<div class="checkbox">
							  <label>
							    <input type="checkbox" value="">
							    Criar evento também no facebook
							  </label>
							</div>
	                    </div>
	                    
	                <a href="http://www.jquery2dotnet.com" class="btn btn-sm btn-primary btn-block" role="button">
	                    SUBMIT</a>
				  <% end %>
				  </div>
	            </div>
	        </div>
	    </div>
	</div>
</form>
<div id="fullscreen_bg" class="fullscreen_bg"/>
</div>
