---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url('https://dwa5x7aod66zk.cloudfront.net/assets/pack/opengraph-image-c6d692948bb5fbf237b8a72d6576b4dcc84586335b522a6036904fc16ec7eccd.png');
  background-position: 500% 0;
}

.project-name {
  background-image: url('../img/logos.svg');
  text-ident: -99999;
}