---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url('../img/main-background.png');
  background-position: 460px 13px;
  color: #5bc0de;
}

.project-name {
  background-image: url('../img/logos.svg');
  text-indent: -99999px;
  background-repeat: no-repeat;
  height: 200px;
  text-align: center;
  background-position: center;
}

.btn {
  background-color: #5bc0de;
  &:hover {
    background-color: lighten(#5bc0de, 15%);
  }
}