<%= render 'layouts/navbar' %>
<%= render 'layouts/flash' %>
<div class="container manage-entries">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'form' %>
    </div>
  </div>
  <div id="fullscreen_bg" class="fullscreen_bg"></div>
</div>
