.form-signin {
    padding: 15px;
    opacity: 0.9;
    max-width: 100%;
  }

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
/*.form-control:focus {
    background-color: rgba(50, 118, 177, 0.5);
    border-color: rgba(40, 94, 142, 0.5);
    color: white;
}

input.form-control:focus::-webkit-input-placeholder
{
    color: white;
} */

.form-control:focus {
    background: white;
}

.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
.fullscreen_bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    background-size: cover;
    background-position: 50% 50%;
    background-image: image-url('image-intro-3-full.jpg');
    background-repeat:repeat;
  }