@import 'bootstrap/variables';

.sized-3x {
  .confirmeds-pane {
    right: 0;
    bottom: 28%;
  }
}

.confirmeds-pane {
  position: absolute;
  right: 20%;
  bottom: 35%;
  width: 30%;
  text-align: right;
  overflow: hidden;
  h2 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    font: 14px Sans-Serif;
    span {
      background: rgba(0, 0, 0, 0.45);
      display: inline-block;
      padding: 4px 8px;
      margin: 0;
    }
  }
  .activate-tooltip {
    outline: none;
  }
}
