@import "bootstrap/variables";

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */
nav.main-menu {
  height: 40px;
  width: 100%;
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: relative;
}
nav.main-menu ul {
  padding: 0;
  margin: 0 auto;
  height: 40px;
}
nav.main-menu li {
  display: inline;
  float: left;
}
nav.main-menu a {
  color: #fff;
  display: inline-block;
  width: 200px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  text-shadow: 1px 1px 0px #283744;
}
nav.main-menu li a {
  border-right: 1px solid $gray-lightest;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav.main-menu li:last-child a {
  border-right: 0;
}
nav.main-menu a:hover, nav.main-menu a:active {
  background-color: #8c99a4;
}
nav.main-menu a#pull {
  display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
  nav.main-menu { 
      height: auto;
    }
    nav.main-menu ul {
      width: 100%;
      display: block;
      height: auto;
    }
    nav.main-menu li {
      width: 100%;
      float: left;
      position: relative;
    }
    
    nav.main-menu a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
    }
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
  nav.main-menu {
    border-bottom: 0;
  }
  nav.main-menu ul {
    display: none;
    height: auto;
  }
  
  nav.main-menu li a {
    border-right: none;
  }
  
  nav.main-menu a#pull {
    display: block;
    width: 100%;
    position: relative;
  }
  nav.main-menu a#pull:after {
    content:"";
    background: url('http://media02.hongkiat.com/responsive-web-nav/demo/nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
  nav.main-menu li {
    display: block;
    float: none;
    width: 100%;
  }
}