.well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding-left: 15px;
  border:0px;
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
  padding-left: 0px;
  padding-right: 0px;
}
.icon-style
{
  margin-right:15px;
  font-size:18px;
  margin-top:20px;
}
p
{
  margin:3px;
}
.well-add-card
{
  margin-bottom:10px;
}
.btn-add-card
{
  margin-top:20px;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 6px solid #D9D9D9;
  border-radius: 15px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  padding-left: 0px;
  padding-right: 0px;
}
.btn {
  border-radius:0px;
}
.btn-update {
  margin-left: 15px;
}