.main-menu {
  .navbar {
    padding-right: 0.3em;
    .navbar-brand {
      margin-bottom: -12px;
      img {
        margin-top: -8px;
      }
    }
    
    .user-actions {
      button {
        font-size: 12px;
      }
    }
  }
}
