@import "bourbon";
@import 'bootstrap/variables';

$color1: $brand-info-lighter; // tan
$color2: $brand-primary-lighter; // blue
$color3: $brand-primary-lighter; // gold

/* =================================
  Base Styles
==================================== */
* {
  @include box-sizing(border-box);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #3a3a3a;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1170px;
}

.button {
  background: none;
  height: 50px;
  border-radius: 3px;
  letter-spacing: 1px;
  @include transition(background 0.4s);
}

/* ---- Header ---- */
#main-header {
  background: #fff;
  padding: 0.85em 0;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo, nav a {
    padding: 10px;

    @media (min-width: 500px) {
      padding: 10px 15px;
    }
  }

  .logo {
    font-size: 1.35em;
    color: $color2;
  }

  nav a {
    font-size: 0.65em;
    text-transform: uppercase;
    color: lighten($color2, 25%);

    @media (min-width: 500px) {
      font-size: 0.95em;
    }
  }
}

/* ---- Intro ---- */
#intro {
  background: $color1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 0;

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color2;

    .splash {
      display: none;

      @media (min-width: 500px) {
        display: block;
        width: 200px;
      }
    }

    img {
      margin-bottom: 1em;
    }

    h1, p, .button {
      text-align: center;
    }

    h1 {
      margin: 0;
    }

    p {
      margin-bottom: 1.5em;
    }

    .button {
      display: flex;
      align-items: center;
      padding: 10px 30px;
      box-shadow: inset 0 0 0 2px $color3;
      color: $color2;
      &:hover, &:focus {
        background: $color3;
        color: #fff;
      }
    }
  }
}

/* ---- Tours ---- */
#tours {
  padding-top: 4em;

  h2 {
    margin: 0;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 4em 0;
    max-width: 600px;

    @media (min-width: 500px) {
      flex-direction: row;
    }

    input, button {
      margin: 0 1em;
      padding: 10px;
      height: 50px;
      outline: 0;
    }

    input {
      background-color: #fff;
      margin-bottom: 1em;
      border: 1px solid #ddd;
      border-radius: 3px;
      color: #494f4f;
      @include transition(border-color 0.4s);
      &:focus {
        border-color: #879090;
      }

      @media (min-width: 500px) {
        flex: 3;
        margin-bottom: 0;
      }
    }

    .button {
      border: 0;
      box-shadow: inset 0 0 0 2px #879090;
      color: #494f4f;
      &:hover, &:focus {
        background: #879090;
        color: #fff;
      }

      @media (min-width: 500px) {
        flex: 100px;
      }
    }
  }

  ul, ul li, ul li div {
    display: flex;
  }

  ul {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      background: rgba(0,0,0,0.35);
      position: relative;
      flex-direction: column;
      cursor: pointer;
      @include transition(background 0.4s);
      &:hover {
        background: rgba(0,0,0,0);
      }

      @media (min-width: 500px) {
        flex: 50%;
      }

      @media (min-width: 800px) {
        flex: 25%;
      }

      div {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;

        h3, h4 {
          margin: 0;
        }

        h3 {
          margin-bottom: 0.35em;
          font-size: 1em;
          font-weight: 400;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        h4 {
          font-weight: 300;
          letter-spacing: 1px;
        }
      }

      img {
        position: relative;
        z-index: -1;
      }
    }
  }
}

/* ---- Pricing ---- */
#pricing {
  display: flex;
  flex-direction: column;
  padding: 4em 0;

  article {
    background: #edf4f7;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0.85em 1em;
    padding: 1em;
    border-radius: 3px;
    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      color: $color2;
    }

    p {
      margin: 0 0 1em;
      font-size: 0.95em;
      line-height: 24px;
      font-weight: 400;
      &:last-of-type {
        margin-bottom: 3em;
      }
    }

    .button {
      display: flex;
      align-items: center;
      align-self: center;
      margin-top: auto;
      padding: 10px 30px;
      box-shadow: inset 0 0 0 2px lighten($color2, 10%);
      color: $color2;
      &:hover, &:focus {
        background: lighten($color2, 10%);
        color: #fff;
      }
    }
  }

  @media (min-width: 800px) {
    flex-direction: row;

    article {
      margin-bottom: 0;
    }
  }
}