// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap/variables';

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext");


@font-face {
  font-family: 'Sunshine';
  src: font-url('HelloSunshine_ornaments.otf');
}

@font-face {
  font-family: 'HelloSunshine';
  src: font-url("HelloSunshine.otf");
}

@font-face {
  font-family: 'HelloSunshineMarker';
  src: font-url("HelloSunshineMarker.otf");
}

@font-face {
  font-family: 'Nevis';
  src: font-url("nevis.otf");
}

@font-face {
  font-family: 'Nevis-Bold';
  src: font-url("nevis-alt.otf");
}

@font-face {
  font-family: 'MuseoSans';
  src: font-url("MuseoSans_500.otf");
}

@font-face {
  font-family: 'Quicksand Bold';
  font-family: font-url('QuicksandBold.otf');
}

@font-face {
  font-family: 'league';
  font-family: font-url('leaguegothic-condensed-regular-webfont.ttf');
}

body {
  font-family: 'Open Sans', sans-serif;
}

h5 {
  font-weight: bold;
}

.jumbotron {
  .btn {
    white-space: normal;
  } 
}

.list-group i {
  color: $brand-primary;
  padding-right: 5px;
}

.sec-color-font {
  color: #31bcb0;
}

.label {
  line-height: 18px;
  white-space: normal;
}


.logo {
  width: 80%;
  position: relative;
  margin: 2% auto;
  text-align: center;
  z-index: 1;
  
  img {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  .tagline {
    margin-top: -15px;
    text-transform: uppercase;
    font-size: 0.5em;
    color: #f1592a;
  }
}

.logo-alt-body {
  text-align: center;
  height: 150px;
  margin: 0 auto;
  margin-top: -40px;
}

.text-intro {
  font-size: 1em;
  
}

.spaced-default {
  margin: 40px 0;
  display: inline-block;
  overflow: hidden;
}

.spaced-default-full {
  width: 100%;
}

.spaced-small {
  margin: 20px 0;
  display: inline-block;
  overflow: hidden;
}

.spaced-top {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: inline-block;
  overflow: hidden;
}

.spaced-smallest {
  margin: 10px 0;
  display: inline-block;
  overflow: hidden;
}

.hidden {
  display: none;
}

.card-inverse.card-success a {
  color: $brand-primary-darker;
  text-decoration: none;
}

.card-inverse.card-danger a {
  color: $brand-primary-lighter;
  text-decoration: none;
}


.main-color-font {
  
}

.spaced-down {
  margin-bottom: 20px;
}

.display-tagline {
  font-size: 2.6em;
}

.lead {
  font-size: 1em;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
}

.texts {
  font-size: 50px;
}

.symbol-font {
  font-family: 'Sunshine';
}

.fancy-font {
  font-family: 'HelloSunshine';
  font-size: 90px;
}

.secondary-font {
  font-family: 'HelloSunshineMarker';
}

.emblem-font {
  font-family: 'MuseoSans', 'Open Sans', sans-serif;
  font-weight: bold;
}

.symbol-big {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.top-note {
  position: absolute;
  right: 5%;
  top: 3%;
  color: white;
  color: #f8f8f8;
  font-size: 1em;
}

.main-color-font {
  color: #f05829;
}

.carousel-navigation {
  a {
    position: absolute;
    top: 45%;
    opacity: 0.8;
    color: $brand-primary;
    z-index: 9999;
    height: 100%;
    opacity: 0.4;
    
    &.carousel-right {
      right: 20px;
    }
    &.carousel-left {
      left: 20px;
    }
  }
}

.img-fit {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.placeholder-truppie-image {
  background: $brand-primary;
  width: 100%;
  height: 300px;
}

.pl-ziro { padding-left: 0px; }


.tour-info {
  font-size: 1.2em;
  li {
    margin: 12px 0;
  }
}

.card-organizer {
  a {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.reduce-font {
  font-size: 0.8em;
}

.pull-against {
  margin-right: 40px;
}

.tour-title {
  font-size: 1.8em;
}

.tour-container {
  width: 70%;
}

.card-floating {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 320px;
  z-index: 9999;
  opacity: 0.85;
}

.floating-schedule {
  padding: 20px;
  
}

.footer-container {
  background-color: white;
  opacity: 0.9;
}

.form-control {
  position: relative;
  z-index: 3;
}

#editor {
  overflow:scroll;
  max-height:300px
}

#tour_category_id, #tour_status {
  width: 100%;
  height: 41px;
}

.bg-gray {
  background: $gray-lightest;
  width: 100%;
  padding: 20px;
}

.light-heading {
  background: rgba(0, 0, 0, 0.025);
  color: $gray;
}

.tags {
  background: $brand-primary-lighter;
}

.package-item-confirm {
  padding: 20px;
  margin: 0;
  display: inline-block;
}

.text-overlay-organizer {
  margin: 20px;
  margin-left: 5px;
}

.increase-font {
  font-size: 1.5em;
  span {
    font-size: 0.8em;
  }
}

.card-transfer {
  
  .btn {
    white-space: normal;
    width: 100%;
  }
}

#amount {
  text-align: right;
}

.terms {
  font-size: 16px;
  color: $gray-dark;
}