// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  width: 100%;
  position: relative;
  margin: 5% auto;
  text-align: center;
  
  img {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  .tagline {
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: 'Arimo', sans-serif;
    color: #f1592a;
  }
}
