// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Sunshine';
  src: font-url('HelloSunshine_ornaments.otf');
}

@font-face {
  font-family: 'HelloSunshine';
  src: font-url("HelloSunshine.otf");
}

@font-face {
  font-family: 'HelloSunshineMarker';
  src: font-url("HelloSunshineMarker.otf");
}

@font-face {
  font-family: 'Nevis';
  font-weight: normal;
  src: font-url("Nevis.otf");
}


.logo {
  width: 100%;
  position: relative;
  margin: 5% auto;
  text-align: center;
  
  img {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  .tagline {
    text-transform: uppercase;
    font-size: 1.8em;
    color: #f1592a;
  }
}

.texts {
  font-size: 50px;
}

.texts .main-font {
  font-family: 'Sunshine';
}

.texts .fancy-font {
  font-family: 'HelloSunshine';
  font-size: 90px;
}

.texts .secondary-font {
  font-family: 'HelloSunshineMarker';
}

.emblem-font {
  font-family: 'Nevis';
}
