$blue: hsl(206,72%,68%);
$green: hsl(120,42%,54%);
$white: #DEDEDE;
$grey: hsl(226,10%,25%);
$disa: hsl(226,15%,53%);

#steps-container{
  position: relative;
  margin: 20px auto;
}

#steps {
  font-family: 'Open Sans', sans-serif;
}

.relative-top-steps {
  position: absolute;
  top: 10px;
  right: 10px;
}

.step {
  width: 40px;
  height: 40px;
  background-color: $white;
  display: inline-block;
  border: 4px solid;
  border-color: transparent;
  border-radius: 50%;
  color: $disa;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  margin-top: 8px
}
.step:first-child {
  line-height: 40px;
  margin-left: 20px;
}
.step:nth-child(n+2) {
  margin: 0 0 0 100px;
  transform: translate(0, -4px);
}
.step:nth-child(n+2):before {
  width: 75px;
  height: 3px;
  display: block;
  background-color: $white;
  transform: translate(-95px, 21px);
  content: '';
}
.step:after {
  width: 150px;
  display: block;
  transform: translate(-55px, 3px);

  color: $grey;
  content: attr(data-desc);
  font-weight: 400;
  font-size: 13px;
}
.step:first-child:after {
  transform: translate(-55px, -1px);
}
.step.active {
  border-color: $blue;

  color: $blue;
}
.step.active:before {
  background: linear-gradient(to right, $green 0%,
                                        $blue 100%);
}
.step.active:after {
  color: $blue;
}
.step.done {
  background-color: $green;
  border-color: $green;

  color: $white;
}
.step.done:before {
  background-color: $green;
}
