<!DOCTYPE html>
{% include head.html %}
<body>
{% include menu.html %}
<section class="page-header">
    <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">Ver no GitHub</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
    {% endif %}
    <div id="background-wrap">
        <div class="x2">
            <div class="cloud"></div>
        </div>
        <div class="x3">
            <div class="cloud"></div>
        </div>

        <div class="x4">
            <div class="cloud"></div>
        </div>
    </div>
</section>

<section class="main-content">
    {{ content }}

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
        <form action="https://gardering.us9.list-manage.com/subscribe/post?u=5e42ed8d71c8269c0acfa701b&amp;id=e12fb29ac2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Endereço de e-mail" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5e42ed8d71c8269c0acfa701b_e12fb29ac2" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Inscreva-se!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
    </div>

    <!--End mc_embed_signup-->


    <h1>Tarefas</h1>

    <ul>
        {% for issue in site.data.issues %}
        <span style="font-size: 11px; font-style: italic">adicionada em {{ issue.date }}</span>
        <h2 style="margin-top: 4px;"><a target="_blank" href="{{ issue.url }}">{{ issue.name }}</a></h2>
        <p>
            <a target="_blank" href="{{ issue.url }}" title="Veja a issue no Github para começar a trabalhar nela"><img src="{{issue.imagealt}}" width="300" /></a>
            <a target="_blank" href="{{ issue.url }}" title="Veja a issue no Github para começar a trabalhar nela"><img src="{{issue.image}}" width="300" /></a>
        </p>
        <h3><strong>Valor:</strong> {{ issue.price }}</h3>
        <blockquote>
            <p>{{ issue.description }}</p>
            <p><a target="_blank" href="{{ issue.url }}">Saiba mais detalhes desta tarefa e inicie agora mesmo a contribuir para a Truppie!</a></p>
        </blockquote>
        <dl>
            <dt>Requisitos</dt>
            <dd>{{ issue.requirements }}</dd>
            <dt>Nível</dt>
            <dd>{{ issue.level }}</dd>
            <dt>Tecnologias</dt>
            <dd>{{ issue.technology }}</dd>
            <dt>Forma de validação para considerar como feito</dt>
            <dd>
                {{ issue.validation }}
            </dd>
            <p>Saiba mais sobre os <a href="https://blog.da2k.com.br/2015/02/04/git-e-github-do-clone-ao-pull-request/" target="_blank">passos básicos para que você possa contribuir e trabalhar para a Truppie!</a></p>
        </dl>
        <hr />
        {% endfor %}
    </ul>

    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->

    <h2>Nossas tecnologias</h2>

    <img src="../assets/img/heroku.png" width="180" />

    <img src="../assets/img/travis-ci.png" width="180" />

    <img src="../assets/img/github.png" width="180" />

    <img src="../assets/img/trello-logo.png" width="180" />

    <img src="../assets/img/jquery-logo.jpg" width="180" />

    <img src="../assets/img/rails-logo.png" width="180" />

    <img src="../assets/img/bootstrap-logo.png" width="180" />

    <div>
        <p>Se você entende bem destas tecnologias, você pode contribuir com a <a href="http://truppie.com">Truppie</a></p>
    </div>

    {% include footer.html %}

    <script src="https://arcchat.com/livechat/59e0e0dbed743ddd026bea23/59e0e0dbed743ddd026bea24" async></script>
</body>
</html>
