<h3>Atenção! Este é um e-mail de teste para averiguar o envio de e-mail da reserva de uma Truppie por um usuário. Se você é um organizador, você está recebendo como teste de um usuário fazendo uma reserva e é assim que ele irá receber. Favor desconsiderá-lo que você receber um e-mail personalizado para você ;-)</h3>

<h2>Olá, explorador(a)!</h2>

<p>Oba, que legal que você quer fazer uma truppie! :D com o <a href="<%= @organizer.website %>"><%= @organizer.name %></a></p>

<p>O seu cartão de crédito encontra-se <strong><%= @status[:content] %></strong> e, assim que for aprovado, vamos te avisar, ok?</p>

<p>Para conferir o andamento do status a qualquer hora, acesse: <a href="http://www.truppie.com/orders">http://www.truppie.com/orders</a></p>

<p>Se tiver alguma dúvida, escreva pra gente: ola@truppie.com.</p> 

<p>Até mais!</p>

<p>Um abraço,</p>

<small>Equipe Tuppie</small>
[logo] [logo organizador] [links redes sociais]
