<section class="balanceBox Absolute-Center is-Fixed">
  
  <div class="headerBox">
    <h1 class="balanceHeader">
      <span aria-hidden="true" class="entypo-chart-line headerIcon"></span>
      Arrecadado
    </h1>
  </div><!--headerBox-->
  
  <hr class="divider">
  
  <div class="meterContainer">
   <div aria-hidden="true" class="meterBackground">
    <div aria-hidden="true" class="meterBar">
     <label class="progressValue">
       <span class="progressNumber"></span>
       <meter max="1000" value="750" class="leaseMeter"></meter>
     </label><!--progressValue-->
    </div><!--meterBar-->
   </div> <!--meterBackground-->
  </div><!--meterContainer-->
  
</section><!--balanceBox-->