<div class="col-xs-12 spaced-default">
  <div class="header-dotted">
    <%= t('payment_type_partial_div_one') %>
  </div>
  <div class="main">
    <div class="payments">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="button active" data-target="#payment-creditcard">
            <span style="display:inline-block; padding-bottom: 20px;"><%= t('payment_type_partial_div_two') %> </span>
            <span style="display:inline-block;">(à vista)</span>
            <svg class="svg-debit" viewBox="0 0 32 23">
              <path class="svg-debit-card" d="M1.993 0h28c1.104 0 2 .895 2 2v18.999c0 1.104-.896 2.001-2 2.001h-28c-1.104 0-2-.896-2-2.001v-18.999c0-1.105.895-2 2-2z" />
              <path class="svg-debit-data" d="M12.993 15v2h16v-2h-16zm0 5h10v-2h-10v2zm-4-5h-4c-1.104 0-2 .896-2 2v1c0 1.104.896 2 2 2h4c1.104 0 2-.896 2-2v-1c0-1.104-.896-2-2-2z" />
              <path class="svg-debit-sign" d="M2.993 9h26v3h-26v-3z" />
              <path class="svg-debit-read" d="M-.007 3h32v3h-32v-3z" />
            </svg>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="button" data-target="#payment-external">
            <span style="display:inline-block; padding-bottom: 20px;">Cartão de Crédito com pagamento parcelado </span>
            <span style="display:inline-block; padding-bottom 20px;">(até 5x sem juros)</span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
