<div class="col-xs-12 spaced-default">
  <div class="header-dotted">
    <%= t('payment_type_partial_div_one') %>
  </div>
  <div class="main">
    <div class="payments">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="button active" data-target="#payment-creditcard">
            <%= t('payment_type_partial_div_two') %>
      
            <svg class="svg-debit" viewBox="0 0 32 23">
              <path class="svg-debit-card" d="M1.993 0h28c1.104 0 2 .895 2 2v18.999c0 1.104-.896 2.001-2 2.001h-28c-1.104 0-2-.896-2-2.001v-18.999c0-1.105.895-2 2-2z" />
              <path class="svg-debit-data" d="M12.993 15v2h16v-2h-16zm0 5h10v-2h-10v2zm-4-5h-4c-1.104 0-2 .896-2 2v1c0 1.104.896 2 2 2h4c1.104 0 2-.896 2-2v-1c0-1.104-.896-2-2-2z" />
              <path class="svg-debit-sign" d="M2.993 9h26v3h-26v-3z" />
              <path class="svg-debit-read" d="M-.007 3h32v3h-32v-3z" />
            </svg>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="button" data-target="#payment-boleto">
            <%= t('payment_type_partial_div_three') %>
      
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
              <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
              <g><path d="M201.7,820c0-145,0-290.1,0-436.3c20.9,0,40.4,0,61.1,0c0.6,3.4,1.5,6.7,1.5,10.1c0.2,137.3,0.4,274.6,0.5,412c0,4.8-1,9.5-1.5,14.2C242.7,820,222.2,820,201.7,820z M990,791.1c-12.4,0-24.9,0-38.8,0c0-195.7,0-389.1,0-585.8c12.9,0,25.8,0,38.8,0C990,400.6,990,595.8,990,791.1z M104,820c0-144.4,0-288.9,0-434.7c15.7,0,30.3,0,47,0c0,145.8,0,290.3,0,434.7C135.4,820,119.7,820,104,820z M313.8,820c0-144.9,0-289.8,0-436.2c14,0,27.4,0,43.4,0c0,145.5,0,290.8,0,436.2C342.8,820,328.3,820,313.8,820z M10,378.8c4-1,8.1-2.1,12.1-2.7c14-2.1,19.8,2.3,19.8,18.3c-0.4,137.6,0.1,275.3,0.2,413c0,4.2,0.2,8.4,0.4,12.6c-10.8,0-21.7,0-32.6,0C10,673,10,525.9,10,378.8z M288.5,180c4.5,1.4,8.9,2.8,14.3,4.5c0,54.3,0,108.7,0,164.3c-6.4,0-12.1,0-20.2,0c0-30.1-0.2-60,0.1-90c0.4-26.3,1.3-52.6,2.1-78.8C286.1,180,287.2,180,288.5,180z M834.6,790.3c-12.3,0-24.9,1.1-37.1-0.7c-3.7-0.5-8.9-8.7-8.9-13.4c-0.4-101.7-0.2-203.5-0.1-305.2c0.1-80.1,0.3-160.1,0.4-240.2c0-7.7,0-15.4,0-24.4c15.6,0,29.6,0,45.8,0C834.6,399.7,834.6,593.2,834.6,790.3z M695.4,205.7c16.2,0,29.3,0,44,0c0,194.3,0,388.3,0,582.1c-0.9,0.7-1.3,1.3-1.7,1.3c-43.1,6.4-43.1,6.4-43-36.6c0.2-174.6,0.5-349.2,0.7-523.8C695.4,221.6,695.4,214.4,695.4,205.7z M426.7,383.3c22,0,42.3,0,64.1,0c0,135.7,0,270.8,0,406.9c-21.2,0-42,0-64.1,0C426.7,654.9,426.7,519.8,426.7,383.3z M641.7,788.1c-1.8,0.9-2.8,1.7-3.9,1.8c-33.9,3.1-33.9,3.1-33.9-30.5c0.3-119.8,0.6-239.5,1-359.4c0-5.3,0.6-10.7,1-16.7c12,0,23.3,0,35.9,0C641.7,518.1,641.7,652.6,641.7,788.1z M880.4,205.6c9.1,0,15.6,0,24.3,0c0.4,6.7,1.1,13,1.1,19.4c0.1,181.3,0.2,362.6,0.4,543.8c0,23.2-1.1,23.9-25.7,19.2C880.4,594.7,880.4,401.1,880.4,205.6z M558.5,790c-10.4,0-19.7,0-30,0c0-135.5,0-270.1,0-406.1c10.1,0,19.4,0,30,0C558.5,518.7,558.5,653.7,558.5,790z M50.7,342c-9.3,3.8-16.2,6.6-24.7,10.1c0-58.2,0-112.8,0-168c6.9,0,12.6,0,20.3,0c0,18,0,35.6,0,56.2c20-17.5,39.8-21.7,59.9-8.9c22.2,14.2,27.8,37.1,24.8,61.6c-1.7,12.7-5.4,26.2-11.9,37.2C103.2,357.2,72.7,360.8,50.7,342z M44.8,289.2c0.6,8,0.7,11.5,1.2,15.1c2.3,17,14.5,29.6,29.9,30.8c14.3,1.2,28.4-9.2,31.2-26.5c2.1-13.9,2-28.7-0.2-42.5c-2.2-13.4-12.3-21.4-26.8-22.3c-14.1-0.9-25,4.7-29.6,18.1C47.1,272,46.1,282.8,44.8,289.2z M439.3,295.8c-31.4,0-59.5,0-88.1,0c0.5,18.2,4.7,32.3,23,37.7c17.3,5.1,29.6-1.8,40.7-15.1c4-5,12.6-6.1,21.8-10.2c-6.9,30.7-22.8,44.1-48.8,45.1c-27.5,1.1-50.7-12.1-55.2-36.1c-3.3-17.2-3.2-36.1,0.4-53.1c5.5-25.8,29.6-41.2,55.3-39.7c25.2,1.5,41.8,16.6,47.5,43.9C437.6,276.4,438,284.6,439.3,295.8z M350.9,277.9c22.8,0,44,0,65.3,0c-2.8-23.5-10.7-32.5-28.7-34.1C369.3,242.3,357.2,253.2,350.9,277.9z M260.1,289.4c0.1,40.5-24.5,66.7-60.6,64c-5.9-0.4-11.9-1.8-17.3-4.1c-23.4-9.7-37.3-37.4-34.4-67.5c3.1-30.9,19.3-50.4,46.7-56C231.1,218.4,260,246.4,260.1,289.4z M239.7,290.2c-2-9.2-2.8-19-6.4-27.7c-6.4-15.8-23.5-23.2-38.6-18.1c-15.6,5.3-25.2,21.6-25.3,43.7c-0.2,22.4,8.6,38.9,23.9,44.6C217.9,341.5,237.9,322.9,239.7,290.2z M522.1,289.2c0-45.4,33.5-73.9,73-62.1c27.5,8.2,44.3,41,38.2,74.7c-6.2,35.2-27.7,53.8-59.8,51.7C542.6,351.5,522.2,326,522.1,289.2z M614,289.9c-1.5-8-2.3-14.6-4.2-20.9c-4.8-15.9-15-26.7-32.3-26.2c-17.2,0.6-29,11.1-31.1,27.6c-1.8,14.4-2.1,30.9,3.3,43.7c4,9.3,18.3,18.9,28.4,19.4c9.2,0.6,21.1-9.2,28.2-17.6C611.8,309.3,611.8,297.9,614,289.9z M469.4,223.3c0-8.9,0-17.8,0-28.1c6.9,0,13,0,20.2,0c0.6,10.1,1,19.5,1.4,30c5.8,1.2,11.4,2.2,17.3,3.4c0,5.2,0,9.7,0,15.1c-5.8,0.9-10.9,1.5-16.2,2.3c-0.6,2-1.5,3.7-1.5,5.3c-0.2,17.9-0.7,36-0.1,54c0.4,11.3-6.1,27.1,15.3,27.8c1.5,0.1,2.8,8.9,4,13.7c-30.7,8.4-40.4,1-40.6-29c-0.1-23.4,0-46.7,0-66c-6.9-6.8-14.3-10.8-14.7-15.4c-0.3-4,7-8.8,11-13.2C466.9,223.1,468.1,223.2,469.4,223.3z"/></g>
              </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
