<h1 class="rating-num">
    4.0
</h1>
<div class="rating">
    <span class="fa fa-star"></span><span class="fa fa-star">
    </span><span class="fa fa-star"></span><span class="fa fa-star">
    </span><span class="fa fa-star-empty"></span>
</div>
<div>
    <span class="fa fa-user"></span> 10 avaliacoes
</div>