<div class="track-loading">
  <div>
    <div class="c1"></div>
    <div class="c2"></div>
    <div class="c3"></div>
    <div class="c4"></div>
  </div>
  <span><%= t('track_loading_message') %></span>
</div>
