<div id="steps-container" class="row">
  <div id="steps" class="col-sm-6 col-sm-offset-3">
    <div class="step" data-desc="Perfil" data-index='1'>1</div>
    <div class="step" data-desc="Conta Pessoal" data-index='2'>2</div>
    <div class="step active" data-desc="Dados Bancários" data-index='3'>3</div>
    <div class="step" data-desc="Criar Truppie">4</div>
  </div>
</div>
